@import '../../styles/variables.scss';

.loading {
  height: 0;
  width: 0;
  padding: 15px;
  border: 6px solid $secondaryColor;
  border-right-color: $primaryColor;
  border-radius: 22px;
  animation: rotate 1s infinite linear;
}
.container {
  border-radius: 22px;
  position: absolute;
  left: 50%;
  top: 50%;
  box-shadow: $tense;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
