.main {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: center;
  align-content: center;
}

.actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.feed {
  //width: 100%;
}
