@import url('https://fonts.googleapis.com/css?family=Karla:400,700');

$main-font: 'Karla', sans-serif;

$secondaryColor: #d5e1ed;
$primaryColor: #a2abde;
$fadeColor: #bdc2de;

$shadowColor: rgba(135, 165, 190, 0.5);
$lightColor: #ffffff;
$gradient: linear-gradient(150deg, #cedbed, #fafcfd);
$gradientSoft: linear-gradient(180deg, #cedbed, #d5e1ed);

$tense: 4px 2px 16px $shadowColor, -4px -2px 16px $lightColor;
$inside: inset 4px 2px 8px $shadowColor, inset -4px -2px 8px $lightColor;

$released: 4px 2px 16px $shadowColor, -4px -2px 16px $lightColor;
$pressed: 1px 1px 4px $shadowColor, -1px -1px 4px $lightColor;
$active: inset 2px 1px 4px $shadowColor, inset -2px -1px 4px $lightColor;




$columnWidth:  400px;
$buttonWidth: 70px;