@import '../../styles/variables.scss';

$radioSize: 30px;

.label {
  position: relative;
  margin: 0;
  width: $radioSize;
  height: $radioSize;
  appearance: none;
  border-radius: 50%;
  display: flex;
  flex-direction: row;

  .radio {
    appearance: none;
    cursor: pointer;
  }

  svg {
    position: absolute;
    align-self: center;
    width: 1em;
    height: 1em;
    padding: 0.35rem;
    background: $gradient;
    color: $secondaryColor;
    text-align: center;
    font-size: 10px;
    border-radius: 50%;
    box-shadow: $released;
    cursor: pointer;

    &:hover {
      box-shadow: $pressed;
    }
  }

  input:checked ~ svg {
    box-shadow: $active;
    color: $primaryColor;
  }
}

.text {
  margin-right: 1rem;
  align-self: center;
}
