
.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* @media (min-width: 300px) {
    width: auto;
  }
  @media (min-width: 600px) {
    width: 900px;
  }
  @media (min-width: 600px) and (max-width: 900px) {
    width: 100vw;
  } */
}