@import '../../styles/variables.scss';

input {
  background: none;
  transition: all 0.2s ease-in-out;
  box-shadow: $tense;
  &::placeholder {
    color: $fadeColor;
  }
  &:hover {
    box-shadow: $inside;
  }
  &:focus {
    box-shadow: $inside;
  }
}

.movieInputs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.movieTitle {
  display: flex;
  width: calc(#{$columnWidth} - #{$buttonWidth});
  flex-direction: column;
  justify-content: center;
  align-content: center;
  @media (max-width: 450px) {
    width: 100%;
  }
}

.movieGenre {
  width: calc(#{$columnWidth} - #{$buttonWidth});
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  font-size: 0.7rem;
  @media (max-width: 450px) {
    width: 80%;
  }

  input {
    padding: 0.75rem 1.25rem;
    margin-top: 0.5rem;
    width: 60%;
    &::placeholder {
      font-size: 0.7rem;
    }
  }
  p {
    width: 40%;
    padding: 1rem;
  }
}

.add {
  width: $buttonWidth;
  padding: 1.25rem;
  margin-left: 1rem;
  background: $gradient;
  box-shadow: $released;
  text-align: center;
  &:hover {
    box-shadow: $pressed;
  }
  &:active {
    box-shadow: $active;
  }
  @media (max-width: 450px) {
    width: 20%;
    padding: 1.25rem 0;
  }
}
